form {
    background-color: white;
    max-width: 90%;
    justify-content: center;
    padding: 2%;
    border: solid gray;
    border-radius: 2%;
}

input {
    height: 25px;
    width:95%;
    margin: 1%;
    border: solid green;
}

select {
    border: solid green;

    height: 25px;
    width:95%;
    margin: 1%;
}

textarea {
    width:95%;
    margin: 1%;
}